{% extends 'base.html' %}
{% load staticfiles %}

{% block link_css %}
    <style>

    </style>
{% endblock %}

{% block right_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-header box-border">
                    <div class="mailbox-read-info">
                        <h3 class="box-title"><i class="fa fa-cog"></i> 通用设置
                            <small class="text-muted"><cite>设置一些全局通用设置</cite></small>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block link_javascripts %}
    <script>

    </script>
{% endblock %}