{% extends 'base.html' %}
{% load staticfiles %}

{% block link_css %}
    <style>

    </style>
{% endblock %}

{% block right_content %}
    <div class="row clearfix">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    选择操作
                </div>
                <div class="panel-body">
                    <div id="div-config" class="form-group">
                        <h5 class="control-label text-bold">配置项：</h5>
                        <div class="form-group">
                            <select id="config" name="confg"
                                    class="selectpicker show-tick form-control bs-select-hidden"
                                    data-name="配置项" data-placeholder="请选择配置项:" required>
                                <option value="is-empty" disabled="">请选择配置项:</option>
                                <option value="0" selected="selected">系统设置</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 column">
            <div class="panel panel-default">
                <div class="panel-heading">
                    操作
                </div>
                <div class="panel-body">
                    <div id="div-system-config" class="form-group" style="display: none">
                        <h4 style="color: darkgrey"><b>功能模块配置</b></h4>
                        {% for config in configs %}
                         <hr/>
                        <h5 style="color: darkgrey"><b>{{ config.name }}</b></h5>
                        <hr/>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="{{ config.key }}_swicth"
                                       class="col-sm-4 control-label">{{ config.key.upper }}</label>
                                <div class="col-sm-8">
                                    <div class="switch switch-small">
                                        <label>
                                            <input id="{{ config.key }}_swicth"
                                                   key="{{ config.key }}-is_enabled"
                                                   value="{{ config.is_enabled }}"
                                                   type="checkbox">
                                            是否开启 {{ config.name }}
                                        </label>
                                    </div>
                                </div>
                                <label for="{{ config.key }}-value" class="col-sm-4 control-label">{{ config.name }}-数值</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" id="{{ config.key }}_value" key="{{ config.key }}-value" cols="40" rows="3">{{ config.value }}</textarea>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <br>
                        <br>
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-10">
                                <button id="saveconfig" type="button" class="btn btn-default">保存配置</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block link_javascripts %}
    <script>
        $(function () {
           if ($("#config").val() === '0') {
                $("#div-system-config").show();
                $("#add_config").hide();
                $('input[type="checkbox"]').each(function (i) {
                    if ($(this).val() === '0' || $(this).val() === 0) {
                        $(this).bootstrapSwitch('state', true);
                    }
                    else {
                        $(this).bootstrapSwitch('state', false);
                    }
                });
            }
            else if ($("#config").val() === '1') {
                $("#div-system-config").hide();
                $("#add_config").show();
                $('input[type="checkbox"]').each(function (i) {
                    if ($(this).val() === '0' || $(this).val() === 0) {
                        $(this).bootstrapSwitch('state', true);
                    }
                    else {
                        $(this).bootstrapSwitch('state', false);
                    }
                });
            }
        });

        $("#config").change(function () {
            if ($("#config").val() === '0') {
                $("#div-system-config").show();
                $("#add_config").hide();
                $('input[type="checkbox"]').each(function (i) {
                    if ($(this).val() === '0' || $(this).val() === 0) {
                        $(this).bootstrapSwitch('state', true);
                    }
                    else {
                        $(this).bootstrapSwitch('state', false);
                    }
                });
            }
            else if ($("#config").val() === '1') {
                $("#div-system-config").hide();
                $("#add_config").show();
            }
        });

        // 系统设置checkbox事件
        $('input[type="checkbox"]').on('switchChange.bootstrapSwitch', function (event, state) {
            if (state) {
                $(this).val(true);
            }
            else {
                $(this).val(false);
            }
        });

        $("#saveconfig").click(function () {
            var sys_config = $("#div-system-config");
            var configs = [];
            sys_config.find('[key]').each(
                function () {
                    var config_item = $(this).attr("key");
                    var config_value = $(this).val();
                    configs.push({
                        key: config_item,
                        value: config_value
                    });
                }
            );
            $.ajax({
                type: "post",
                url: "{% url 'p_common_set' %}",
                dataType: "json",
                data: {
                    configs: JSON.stringify(configs),
                    csrfmiddlewaretoken:$('[name="csrfmiddlewaretoken"]').val()
                },
                complete: function () {
                },
                success: function (data) {
                    if (data.status === 0 || data.status === "0") {
                        displayPNotify(data.status, data.msg);
                        setTimeout(function () {
                            window.location.reload()
                        }, 1000)
                    } else {
                        displayPNotify(data.status, data.msg)
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        });



    </script>
{% endblock %}